@using EntityLayer.Concrete
@model List<Doctor>
@{
    ViewData["Title"] = "Our Doctors";
}
<div class="container">
    <div class="row justify-content-center">
        @foreach (var item in Model)
        {
            
            <div class="card m-3" style="width: 18rem;">
                <img class="card-img-top" src="@item.Image" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.DoctorName - <i>@item.Department.DepartmentName</i></h5>
                    @if (item.DoctorAbout.Length > 75)
                    {
                        <p class="card-text">@item.DoctorAbout.Substring(0, item.DoctorAbout.Substring(0, 75).LastIndexOf(" "))...</p>
                        <a href="/Home/GetDoctor/@item.DoctorID/" class="btn btn-primary">@_localization.Getkey("str_ReadMore")</a>
                    }
                    else
                    {
                        <p class="card-text">@item.DoctorAbout</p>
                    }

                </div>
            </div>
        }
    </div>
</div>
