@model EntityLayer.Concrete.Home
@{
    ViewData["Title"] = "NewData";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}

<h4><strong>@_localization.Getkey("str_NewData")</strong></h4>
<hr />


<form method="post" enctype="multipart/form-data">
    <input id="" asp-for="@Model.Image" hidden />
    <input id="detailid" asp-for="@Model.Id" hidden />
    <div class="row">
        <div class="mx-auto bg-white">
            <table class="table table-bordered mx-auto justify-content-center">
                <tr>
                    <th class="px-4">
                        @_localization.Getkey("str_Image")
                    </th>
                    <td class="text-center">
                        <input  type="file" name="file" class="form-control col-3" />
                    </td>
                </tr>
                <tr>
                    <th class="px-4">
                        @_localization.Getkey("str_Title")
                    </th>
                    <td class="px-4">
                        <input id="docname" asp-for="@Model.Title"  />
                    </td>
                </tr>
                <tr>
                    <th class="px-4">
                        @_localization.Getkey("str_Detail")
                    </th>
                    <td class="px-4">
                        <textarea class="col-12 d-block" asp-for="@Model.Detail" value="" rows="7"></textarea>
                    </td>
                </tr>
            </table>
            <div class="row">
                <button type="submit" class="btn btn-outline-success col"> @_localization.Getkey("str_Add") </button>
            </div>
        </div>

    </div>

</form>